<div><h1> Phone Book App</h1>
<h2>Contacts


<button class="btn btn-primary" (click)="displayDetails()">Add Contact</button>
</h2>
<!-- //search -->

<input type="text"  placeholder="Search for contact by last name" size="185">
<br/>
<br/>
<div  *ngIf="display"></div>
<label for="txtName">Name</label>
<input type="text" [(ngModel)]="contact.name">
    <label for="txtNumber" >Phone No</label>
    <input type="text" [(ngModel)]="contact.phoneNo" > <br/>
    <button style="margin: 3px;" class="btn btn-primary" (click)="addContacts()">Create Contact</button>
</div>
    <app-contacts></app-contacts>